<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoadOnStartupServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.LoadOnStartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MenuImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.systemsettings.MenuImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MainImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.MainImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GeneralImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.companyinfo.GeneralImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LocationsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.companyinfo.LocationsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompanyStructureImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.companyinfo.CompanyStructureImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompanyPropertyImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.companyinfo.CompanyPropertyImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaygradeImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.PaygradeImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobSpecificationsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.JobSpecificationsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmploymentStatusImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.EmploymentStatusImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobTitleImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.JobTitleImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EeoJobCategoryImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.EeoJobCategoryImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EducationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.qualification.EducationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LicensesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.qualification.LicensesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SkillsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.skills.SkillsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LanguageImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.skills.LanguageImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MembershipTypeImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.memberships.MembershipTypeImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MembershipImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.memberships.MembershipImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NationalityImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.nationalityandraces.NationalityImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EthnicImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.nationalityandraces.EthnicImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUserGroupsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.users.AdminUserGroupsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HRAdminUsersImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.users.HRAdminUsersImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomersImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.projectinfo.CustomersImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.projectinfo.ProjectImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PhotoUploadServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.PhotoUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PhotoAttendanceUploadServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.PhotoAttendanceUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeListImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.EmployeeListImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactDetailsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.ContactDetailsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmergencyContactsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.EmergencyContactsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DependentsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.DependentsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImmigrationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.ImmigrationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.JobImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeSalaryImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.EmployeeSalaryImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportToImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.ReportToImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WorkExperienceImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.WorkExperienceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedEducationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.AssignedEducationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedSkillsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.AssignedSkillsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedLanguagesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.AssignedLanguagesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedLicensesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.AssignedLicensesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HolidayImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.leave.HolidayImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LeaveTypesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.leave.LeaveTypesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedLeavesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.leave.AssignedLeavesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApprovalLeavesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.leave.ApprovalLeavesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeLeavesSummaryImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.leave.EmployeeLeavesSummaryImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectActivitiesGroupImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.projectinfo.ProjectActivitiesGroupImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectActivitiesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.projectinfo.ProjectActivitiesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimesheetImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.time.timesheets.TimesheetImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApprovalTimesheetImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.time.timesheets.ApprovalTimesheetImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimesheetProjectImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.time.timesheets.TimesheetProjectImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttendanceImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.time.attendance.AttendanceInterfaceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShiftInterfaceImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.time.ShiftInterfaceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeShiftsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.time.EmployeeShiftInterfaceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenumerationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.RenumerationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssignedLoanImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.loan.AssignedLoanImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KPIGroupImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.performance.KPIGroupImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KPIImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.performance.KPIImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KPIAssignImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.performance.KPIAssignImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KPIEmployeeImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.performance.KPIEmployeeImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeInformationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.reports.EmployeeInformationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExcelServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.ExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PTKPImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.tax.PTKPImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TarifPajakImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.tax.TarifPajakImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeePTTImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.tax.EmployeePTTImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PTTImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.tax.PTTImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CurrencyImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.systemsettings.CurrencyImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PphImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.PphImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeAttendanceImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.reports.EmployeeAttendanceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.system.ChangePasswordImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VacanciesImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.recruitment.VacanciesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplicantsImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.recruitment.ApplicantsImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResumeUploadServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.ResumeUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobTitleLeaveRuleImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.job.JobTitleLeaveRuleImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BudgetResourcesGroupImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.projectinfo.BudgetResourcesGroupImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CronImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.systemsettings.CronImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeePphImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.reports.EmployeePphImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeePayrollImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.reports.EmployeePayrollImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PerusahaanImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.companyinfo.PerusahaanImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeTimesheetImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.reports.EmployeeTimesheetImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotificationImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.pim.NotificationImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotificationTemplateImpl</servlet-name>
		<servlet-class>com.gwt.hris.server.service.admin.systemsettings.NotificationTemplateImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrackerServlet</servlet-name>
		<servlet-class>com.gwt.hris.servlet.TrackerServlet</servlet-class>
	</servlet>

	<!-- Servlets Mapping -->
	<servlet-mapping>
		<servlet-name>LoadOnStartupServlet</servlet-name>
		<url-pattern>/hris/loadonstartup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuImpl</servlet-name>
		<url-pattern>/hris/menu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainImpl</servlet-name>
		<url-pattern>/hris/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeneralImpl</servlet-name>
		<url-pattern>/hris/general</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocationsImpl</servlet-name>
		<url-pattern>/hris/locations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyStructureImpl</servlet-name>
		<url-pattern>/hris/companystructure</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyPropertyImpl</servlet-name>
		<url-pattern>/hris/companyproperty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaygradeImpl</servlet-name>
		<url-pattern>/hris/paygrade</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobSpecificationsImpl</servlet-name>
		<url-pattern>/hris/jobspecifications</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmploymentStatusImpl</servlet-name>
		<url-pattern>/hris/employmentstatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobTitleImpl</servlet-name>
		<url-pattern>/hris/jobtitle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EeoJobCategoryImpl</servlet-name>
		<url-pattern>/hris/eeojobcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EducationImpl</servlet-name>
		<url-pattern>/hris/education</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LicensesImpl</servlet-name>
		<url-pattern>/hris/licenses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SkillsImpl</servlet-name>
		<url-pattern>/hris/skills</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LanguageImpl</servlet-name>
		<url-pattern>/hris/language</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MembershipTypeImpl</servlet-name>
		<url-pattern>/hris/membershiptype</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MembershipImpl</servlet-name>
		<url-pattern>/hris/membership</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NationalityImpl</servlet-name>
		<url-pattern>/hris/nationality</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EthnicImpl</servlet-name>
		<url-pattern>/hris/ethnic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUserGroupsImpl</servlet-name>
		<url-pattern>/hris/adminusergroups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HRAdminUsersImpl</servlet-name>
		<url-pattern>/hris/hradminusers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomersImpl</servlet-name>
		<url-pattern>/hris/customers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectImpl</servlet-name>
		<url-pattern>/hris/project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhotoUploadServlet</servlet-name>
		<url-pattern>/hris/photoupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhotoAttendanceUploadServlet</servlet-name>
		<url-pattern>/hris/photoattendanceupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeListImpl</servlet-name>
		<url-pattern>/hris/employeelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactDetailsImpl</servlet-name>
		<url-pattern>/hris/contactdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmergencyContactsImpl</servlet-name>
		<url-pattern>/hris/emergencycontacts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DependentsImpl</servlet-name>
		<url-pattern>/hris/dependents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImmigrationImpl</servlet-name>
		<url-pattern>/hris/immigration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobImpl</servlet-name>
		<url-pattern>/hris/job</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeSalaryImpl</servlet-name>
		<url-pattern>/hris/employeesalary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportToImpl</servlet-name>
		<url-pattern>/hris/reportto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkExperienceImpl</servlet-name>
		<url-pattern>/hris/workexperience</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedEducationImpl</servlet-name>
		<url-pattern>/hris/assignededucation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedSkillsImpl</servlet-name>
		<url-pattern>/hris/assignedskills</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedLanguagesImpl</servlet-name>
		<url-pattern>/hris/assignedlanguages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedLicensesImpl</servlet-name>
		<url-pattern>/hris/assignedlicenses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HolidayImpl</servlet-name>
		<url-pattern>/hris/holiday</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeaveTypesImpl</servlet-name>
		<url-pattern>/hris/leavetypes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedLeavesImpl</servlet-name>
		<url-pattern>/hris/assignedleaves</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApprovalLeavesImpl</servlet-name>
		<url-pattern>/hris/approvalleaves</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeLeavesSummaryImpl</servlet-name>
		<url-pattern>/hris/employeeleavessummary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectActivitiesGroupImpl</servlet-name>
		<url-pattern>/hris/projectactivitiesgroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectActivitiesImpl</servlet-name>
		<url-pattern>/hris/projectactivities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimesheetImpl</servlet-name>
		<url-pattern>/hris/timesheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApprovalTimesheetImpl</servlet-name>
		<url-pattern>/hris/approvaltimesheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimesheetProjectImpl</servlet-name>
		<url-pattern>/hris/timesheetproject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceImpl</servlet-name>
		<url-pattern>/hris/attendance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShiftInterfaceImpl</servlet-name>
		<url-pattern>/hris/shift</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeShiftsImpl</servlet-name>
		<url-pattern>/hris/employeeshifts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenumerationImpl</servlet-name>
		<url-pattern>/hris/renumeration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignedLoanImpl</servlet-name>
		<url-pattern>/hris/assignedloan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KPIGroupImpl</servlet-name>
		<url-pattern>/hris/kpigroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KPIImpl</servlet-name>
		<url-pattern>/hris/kpi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KPIAssignImpl</servlet-name>
		<url-pattern>/hris/kpiassign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KPIEmployeeImpl</servlet-name>
		<url-pattern>/hris/kpiemployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeInformationImpl</servlet-name>
		<url-pattern>/hris/employeeinformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcelServlet</servlet-name>
		<url-pattern>/excel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTKPImpl</servlet-name>
		<url-pattern>/hris/ptkp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TarifPajakImpl</servlet-name>
		<url-pattern>/hris/tarifpajak</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeePTTImpl</servlet-name>
		<url-pattern>/hris/employeeptt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTTImpl</servlet-name>
		<url-pattern>/hris/ptt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CurrencyImpl</servlet-name>
		<url-pattern>/hris/currency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PphImpl</servlet-name>
		<url-pattern>/hris/pph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeAttendanceImpl</servlet-name>
		<url-pattern>/hris/employeeattendance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordImpl</servlet-name>
		<url-pattern>/hris/changepassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VacanciesImpl</servlet-name>
		<url-pattern>/hris/vacancies</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicantsImpl</servlet-name>
		<url-pattern>/hris/applicants</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResumeUploadServlet</servlet-name>
		<url-pattern>/hris/resumeupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobTitleLeaveRuleImpl</servlet-name>
		<url-pattern>/hris/jobtitleleaverule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BudgetResourcesGroupImpl</servlet-name>
		<url-pattern>/hris/budgetresourcesgroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CronImpl</servlet-name>
		<url-pattern>/hris/cron</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeePphImpl</servlet-name>
		<url-pattern>/hris/employeepph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeePayrollImpl</servlet-name>
		<url-pattern>/hris/employeepayroll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PerusahaanImpl</servlet-name>
		<url-pattern>/hris/perusahaan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeTimesheetImpl</servlet-name>
		<url-pattern>/hris/employeetimesheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationImpl</servlet-name>
		<url-pattern>/hris/notification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationTemplateImpl</servlet-name>
		<url-pattern>/hris/notificationtemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrackerServlet</servlet-name>
		<url-pattern>/tracker</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>HRIS.html</welcome-file>
	</welcome-file-list>
</web-app>
